<ion-header>
    <ion-toolbar>
        <ion-title>Seleccione Producto</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-searchbar [(ngModel)]="searchItemsInput" [ngModelOptions]="{standalone: true}" placeholder="Buscar por nombre o código"></ion-searchbar>

    <div *ngIf="admin && CEO">

        <ion-card *ngFor="let i of items | itemsFilter: searchItemsInput" (click)="dismiss( i )">
            <ion-card-header>
                <ion-card-subtitle>Código: {{ i.code }}</ion-card-subtitle>
                <ion-card-title>Nombre: {{ i.name }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-label>Cantidad: {{ i.quantity }}</ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-label>Color: {{ i.color }}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-label>Descripción: {{ i.description }}</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

    </div>

    <div *ngIf="store">

        <ion-card *ngFor="let i of itemsStore | itemsFilter: searchItemsInput" (click)="dismiss( i )">
            <ion-card-header>
                <ion-card-subtitle>Código: {{ i.code }}</ion-card-subtitle>
                <ion-card-title>Nombre: {{ i.name }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-label>Cantidad: {{ i.quantity }}</ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-label>Color: {{ i.color }}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-label>Descripción: {{ i.description }}</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

    </div>

</ion-content>