<ion-header>
    <ion-toolbar>
        <ion-segment [(ngModel)]="selected" [ngModelOptions]="{standalone: true}">
            <ion-segment-button value="all">
                En Stock
            </ion-segment-button>
            <ion-segment-button value="gone">
                Acabados
            </ion-segment-button>
        </ion-segment>
        <ion-title>Productos en {{ storeName }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngSwitch]="selected">

    <ion-searchbar [(ngModel)]="searchItemsInput" [ngModelOptions]="{standalone: true}" placeholder="Buscar por nombre o código"></ion-searchbar>

    <div *ngSwitchCase="'all'">

        <ion-label *ngIf="loading">Cargando...
            <ion-spinner *ngIf="loading"></ion-spinner>
        </ion-label>

        <ion-card *ngFor="let i of items | itemsFilter: searchItemsInput">
            <ion-card-header>
                <ion-card-subtitle>Código: {{ i.code }}</ion-card-subtitle>
                <ion-card-title>Nombre: {{ i.name }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-label>Cantidad: {{ i.quantity }}</ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-label>Color: {{ i.color }}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-label>
                                Precio: C${{ i.price }}
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-label>Descripción: {{ i.description }}</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

    </div>

    <div *ngSwitchCase="'gone'">

        <ion-label *ngIf="loading">Cargando...
            <ion-spinner *ngIf="loading"></ion-spinner>
        </ion-label>

        <ion-card *ngFor="let i of goneItems | itemsFilter: searchItemsInput">
            <ion-card-header>
                <ion-card-subtitle>Código: {{ i.code }}</ion-card-subtitle>
                <ion-card-title>Nombre: {{ i.name }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-label>Cantidad: {{ i.quantity }}</ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-label>Color: {{ i.color }}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-label>
                                Precio: C${{ i.price }}
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-label>Descripción: {{ i.description }}</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

    </div>
</ion-content>