<ion-header>
    <ion-toolbar>
        <ion-title>Iniciar Sesión</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="authForm" (ngSubmit)="login()">
        <ion-item>
            <ion-label position="floating">Nombre de Usuario</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" [disabled]="!authForm.valid">Iniciar Sesión</ion-button>
    </form>

    <ion-button expand="full" (click)="changePassword()">¿Olvidaste la contraseña?</ion-button>

</ion-content>