<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="registerForm">
        <ion-item>
            <ion-label position="floating">Nombre y apellido</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Nombre de usuario</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>

        <ion-item *ngIf="!changePassword || !id">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="(id && registerForm.controls['password'].touched) || (!changePassword && id)">
            <ion-label position="floating">Confirmar Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Role</ion-label>
            <ion-select placeholder="Selecciona uno..." formControlName="role">
                <ion-select-option>Vendedor</ion-select-option>
                <ion-select-option>CEO</ion-select-option>
                <ion-select-option>Tienda</ion-select-option>
                <ion-select-option>Admin</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="this.registerForm.value.role === 'Tienda'">
            <ion-label position="floating">Tienda</ion-label>
            <ion-select placeholder="Selecciona una..." formControlName="store">
                <ion-select-option *ngFor="let s of stores">{{ s.name }}</ion-select-option>
            </ion-select>
        </ion-item>

    </form>

    <form *ngIf="(this.registerForm.value.role === 'Tienda') && (!id) && (!this.registerForm.value.store)" [formGroup]="newStore">
        <ion-item>
            <ion-label position="floating">Nombre de tienda</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Teléfono de tienda</ion-label>
            <ion-input type="text" formControlName="phoneNumber"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Dirección de tienda</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
        </ion-item>
    </form>

    <ion-button *ngIf="changePassword && id" expand="full" (click)="btnChangePassword()">Cambiar Contraseña</ion-button>
    <ion-button expand="full" [disabled]="!registerForm.valid" (click)="fingerPrint()">{{ btnText }}</ion-button>
</ion-content>