<ion-header [translucent]="true" collapse="condense">
    <ion-toolbar>
        <ion-title size="large">
            Inventario
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item *ngFor="let i of items" (click)="edit( i._id )">
            <ion-row>
                <ion-col>
                    <ion-label>Código: {{ i.code }}</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label>Nombre: {{ i.name }}</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label>Cantidad: {{ i.quantity }}</ion-label>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>

    <ion-fab (click)="newProduct()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>