ion-content ion-toolbar {
    --background: translucent;
}

ion-item {
    --box-shadow: 20px 20px;
    --highlight-height: 50ms;
    --inner-border-width: 5ms;
    --inner-padding-bottom: 4px;
    --inner-padding-end: 4px;
    --inner-padding-start: 4px;
    --inner-padding-top: 4px;
    --min-height: 24px;
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
}