<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Registrar Usuario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <ion-item>
            <ion-label position="floating">Nombre y apellido</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Nombre de usuario</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Role</ion-label>
            <ion-select placeholder="Selecciona uno..." formControlName="role">
                <ion-select-option>Vendedor</ion-select-option>
                <ion-select-option>CEO</ion-select-option>
                <ion-select-option>Tienda</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-button expand="full" type="submit" [disabled]="!registerForm.valid">Registrar Usuario</ion-button>
    </form>
</ion-content>